$sans: sans-serif;
$hebrew: OpenSansHebrew-Regular;
$almony100: almoni-tzar-100;
$almony200: almoni-tzar-200;
$almony300: almoni-tzar-300;
$almony400: almoni-tzar-400;
$almony700: almoni-tzar-700;

$menuColorBlue: #3b8ddf;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$icon-width: 35px;
$icon-height: 30px;
$icons: url(../../img/sprite_4.png);

/*font sources*/


@font-face {
  font-family: 'OpenSansHebrew-Regular';
  src: url('../../fonts/OpenSansHebrew-Regular.ttf');
}

@font-face {
  font-family: 'almoni-tzar-100';
  src: url('../../fonts/almoni-tzar-aaa-100.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/almoni-tzar-aaa-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/almoni-tzar-aaa-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/almoni-tzar-aaa-100.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'almoni-tzar-200';
  src: url('../../fonts/almoni-tzar-aaa-200.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/almoni-tzar-aaa-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/almoni-tzar-aaa-200.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/almoni-tzar-aaa-200.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'almoni-tzar-300';
  src: url('../../fonts/almoni-tzar-aaa-300.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/almoni-tzar-aaa-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/almoni-tzar-aaa-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/almoni-tzar-aaa-300.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'almoni-tzar-400';
  src: url('../../fonts/almoni-tzar-aaa-400.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/almoni-tzar-aaa-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/almoni-tzar-aaa-400.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/almoni-tzar-aaa-400.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'almoni-tzar-700';
  src: url('../../fonts/almoni-tzar-aaa-700.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/almoni-tzar-aaa-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/almoni-tzar-aaa-700.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/almoni-tzar-aaa-700.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/*general*/

body {
	font-family: $almony300, $sans;
}

a:hover {
	transition: .5s;
}

a {
	transition: .5s;
}

@media (min-width: 1400px) {
	.container {
	    width: 1300px;
	}
}


/*header*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: $menuColorBlue;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    font-size: 35px;
    color: $menuColorBlue;
}

 .font-20 {
	font-size: 20px !important;
}

.font-12 {
	font-size: 12px !important;
}

.navbar-nav {
    float: right;
    margin: 30px 0 0;
}

.navbar {
  margin-bottom: 0
}

.img_nav_before {
    float: right;
    margin-top: 37px;
    margin-right: 27px;	
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 23px 15px 5px;
}

.right_nav_img {
	float: left;
}

.border_blue {
	border: 2px solid #3b8ddf;
}

.nav > li > a.small_padding {
    padding: 5px 9px 3px 6px;
    margin-top: 3px;
    letter-spacing: 1.2px;
}

.nav > li > a > img.right_nav_img {
    max-width: none;
    border-right: 2px solid #0093dd;
    margin-top: -4px;
    width: 29px;
    margin-left: -5px;
    margin-right: 7px;
}


.lang {
    position: absolute;
    margin-top: -18px;  
}

.language {
  margin-top: -10px;
}

// main screen

.main_screen {
  height: 482px;
  width: 100%;
  background-image: url(../../img/slide_2.png);
}

// article
.article_1 {

  .article_title {
    color: #1a5fa5;
    font-size: 67.04px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 56px;
  }

  .article_description {
    text-align: center;
    font-size: 34.3px;
    color: #3d4042;
    line-height: 41px;
    margin-bottom: 60px;
    font-family: $almony400;
  }

  .column p {
    font-size: 25px;
    color: #3d4042; 
    font-weight: 600;
    line-height: 35px;
  }

  .column_title {
    font-size: 33.3px;
    color: #8dc503;
    font-weight: 600;
  }
  .column {
    padding-bottom: 48px;
  }

}

footer {
  background-color: #06223f;
  padding: 52px 0;
  .title {
    color: #8ac10a;
    font-size: 29.17px;
    font-weight: 600;
    padding-bottom: 10px; 
  }
  .divider {
    height: 2px;
    width: 109px;
    background-color: #fff;
    margin-bottom: 34px;
  }
  form {
    input {
    display: block;
    padding: 4px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none;
    margin-bottom: 19px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none;
    font-size: 19.32px;
    @include border-radius(3px);
       &[type="submit"] {
        color: #003d71;
        padding: 0px 14px;
        width: 105px;
        font-size: 23px;
        font-weight: 600;
       }
    }
  }
  table {
    margin-right: -13px;
    margin-top: -16px;
    tr td {
      height: 94px;
      width: 94px;
      background-color: #fff;
      border: 13px solid #06223f;
    }
  }
  ul li {
    font-size: 25px;
    color: #fff;
    list-style: none;
    height: 46px;
    .img1 {
      background-image: $icons;
      background-position: ($icon-width * 0) ($icon-height * 0);
      width: $icon-width;
      height: $icon-height;
      margin-top: -38px;
      margin-right: -39px;
    }
    .img2 {
      background-image: $icons;
      background-position: ($icon-width * 0) ($icon-height * 4);
      
      width: $icon-width;
      height: $icon-height;
      margin-top: -38px;
      margin-right: -39px;
      
    }
    .img3 {
      background-image: $icons;
      background-position: ($icon-width * 0) ($icon-height * 2.5);
      width: $icon-width;
      height: $icon-height;
      margin-top: -38px;
      margin-right: -39px;
    }
    .img4 {
      background-image: $icons;
      background-position: ($icon-width * 0) ($icon-height * 1);
      width: $icon-width;
      height: $icon-height;
      position: absolute;
      margin-right: -39px;
      
    }    
  }
  .ul_simple {
    padding: 0;
    margin-top: -13px;
    li {
      height: 29px;
    }
  }
  .col {
    min-height: 280px;
  }
}


@media only screen and (max-width: 1360px) {
  .left_button,
  .language,
  .img_nav_before {
    display: none !important;
  } 
}


@media only screen and (max-width: 769px) {
  .navbar-default .navbar-toggle {
      margin-top: 25px;
  }  

}

