.main-title {
	text-align: center;
    height: auto;
    padding: 0;
    margin-bottom: 20px;
}

.main_tit-text {
    color: #000;
    text-shadow:2px 2px 2px rgba(0,0,0,.5);
    text-align: center;
}

.teacher-name {
	text-align: center;
}

.descr {
	text-align: justify;
	padding: 0 0 20px 0;
}

.wr {
	background: transparent;
	padding: 10px;
}

.m {
	padding: 0;
}

.black {
	background: #000;
}