/*general*/


html, body {
    height: 100%;
}

body {
	margin: 0;
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 20px;
    color: #333;
    background-color: #fff;    
    background: url('../img/background-1.png') repeat-x 0px 40px, url('../img/background-2.png') repeat-x 0px 160px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

input,
select,
textarea {
    outline:none;
}

/*site panel*/

.site_panel {
	height: 40px;
	margin-bottom: 23px;
}

.site_panel_left_side, .site_panel_right_side {
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-box-flex: 1;
}

.site_panel_right_side {
    float: right;
}

.site_panel_left_side a {
    margin: auto;
    margin-right: 23px;
}

.main_page_link {
    background: url('../img/home.png') no-repeat 0px 50%;
}

.main_page_link, .autorization_link {
    padding-left: 20px;
    height: 17px;
    float: left;
    color: #707070;
}

.autorization_link {
    background: url('../img/auth.png') no-repeat 0px 50%;
}

.main_page_link, .autorization_link {
    padding-left: 20px;
    height: 17px;
    float: left;
    color: #707070;
}

.site_panel_right_side span, .site_panel_right_side img {
    margin: auto 0 auto 19px;
    color: #707070;
    font-size: 12px;
}

.site_panel_right_side span, .site_panel_right_side img {
    margin: auto 0 auto 19px;
    color: #707070;
    font-size: 12px;
}

/*logo*/

.logo {
    height: 70px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

a.logo_img {
    display: block;
    float: left;
    margin-right: 23px;
}

.middle {
    width: 550px;
    height: 100%;
    float: left;
}

.cities {
    position: relative;
}

.contacts {
    width: 359px;
    height: 100%;
    float: right;
}

.region-choose {
    font-size: 11px;
    vertical-align: middle;
}

.btn-group {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    z-index: 12;
}

.phones {
    font-size: 17px;
    color: #000;
}

.phones, .days {
    text-decoration: none !important;
    cursor: default;
    white-space: nowrap;
    margin: 0;
}

.days, .days p {
    font-size: 13px;
    color: #707070;
}

.phones, .days {
    text-decoration: none !important;
    cursor: default;
    white-space: nowrap;
    margin: 0;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
body .region-choose .city-button {
    display: inline-block;
    padding-left: 20px;
    padding-right: 7px;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold !important;
    background: url('../img/place.png') no-repeat 0 50%;
    margin-left: -20px !important;
    margin-bottom: 10px;
    border: none;
    box-shadow: none;
}
.btn-group>.btn-mini {
    font-size: 11px;
}
.btn-group>.btn, .btn-group>.dropdown-menu {
    font-size: 14px;
}
.btn-group>.btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn:first-child {
}
.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0,0,0,0.25);
}
.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 16px;
}
.btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbb;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.city-button {
    width: 100px;
    text-align: left !important;
}

.data-current-city {
    font-weight: bold;
}

.btn-mini .caret, .btn-small .caret, .btn-large .caret {
    margin-top: 6px;
}
.btn .caret {
    margin-top: 8px;
    margin-left: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

body .region-choose .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.btn-group>.btn, .btn-group>.dropdown-menu {
    font-size: 14px;
}
.region-choose .dropdown-menu {
    min-width: 130px;
    z-index: 9999;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
ol, ul {
    list-style: none;
}

.region-choose .dropdown-menu a, .currency-choose .dropdown-menu a {
    padding: 0 10px;
    text-align: left;
    font-size: 11px;
}
.dropdown-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.middle .top {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 14px;
}

.social_links {
    float: left;
    margin-right: 15px;
}

.middle .top a {
    margin-right: 2px;
    font-size: 12px;
}

.middle .bottom {
    position: relative;
}

body .search {
    right: 0 !important;
    top: 0 !important;
}
form.search {
    position: relative;
    position: relative;
    overflow: hidden;
    border: 1px solid #97dbf6;
    border-radius: 4px;
}

.penta {
    position: absolute;
    width: 35px;
    height: 28px;
    left: -1px;
    background: url('../img/search.png') no-repeat 0px 50%;
}

body form.search input {
    border: none;
    padding: 0;
}
form.search input {
    height: 28px;
    margin: 0;
    float: left;
    width: 470px;
    text-indent: 40px;
    z-index: 0;
    outline: none;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

form.search button {
    position: absolute;
    right: 0;
    z-index: 1;
    border-radius: 0 4px 4px 0;
}
button.button_v1, a.button_v1 {
    padding: 0 20px;
    height: 30px;
    border: 1px solid #2a96c1;
    color: #fff;
    text-shadow: 1px 0px 1px rgba(9, 100, 164, 1);
    background: #34a6d2;
    background: -moz-radial-gradient(center, ellipse cover, #34a6d2 48%, #2b9ac6 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(48%, #34a6d2), color-stop(99%, #2b9ac6));
    background: -webkit-radial-gradient(center, ellipse cover, #34a6d2 48%, #2b9ac6 99%);
    background: -o-radial-gradient(center, ellipse cover, #34a6d2 48%, #2b9ac6 99%);
    background: -ms-radial-gradient(center, ellipse cover, #34a6d2 48%, #2b9ac6 99%);
    background: radial-gradient(ellipse at center, #34a6d2 48%, #2b9ac6 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a6d2', endColorstr='#2b9ac6', GradientType=1);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.5);
}
input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

body .search-modal {
    width: 446px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 9999;
    display: none;
    background: #fff;
    border: 1px solid #97DBF6;
    border-top: none;
    line-height: normal;
}
.search-modal {
    width: 180px;
    padding: 10px 10px 20px 10px;
    position: absolute;
    right: 30px;
    top: 35px;
    z-index: 9999;
    display: none;
    background: #fff;
    border: 1px solid #999;
    border-top: none;
    line-height: normal;
}

.phones * {
    font-weight: bold;
}

.logo_img img {
    width: 177px;
}

.of {
    color: #2E9DC9; 
    margin-left: -12px;
}

/*navbar*/

.top_menu .basket {
    float: right;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}

.basket_info {
    height: 50px;
    line-height: 50px;
    margin-right: 5px;
    padding-left: 35px;
    background: url('../img/basket.png') 0% 50% no-repeat;
}

.basket_info span.count, .basket_info span.summ {
    color: #ff6c00;
    font-weight: bold;
}
.basket_info span {
    font-size: 13px;
}

.basket_info span {
    font-size: 13px;
}

.basket_info span.count, .basket_info span.summ {
    color: #ff6c00;
    font-weight: bold;
}
.basket_info span {
    font-size: 13px;
}

.custom_select {
    height: 32px;
    background-size: 31px 100%;
}
.custom_select {
    line-height: 100%;
    -webkit-appearance: none;
}

.custom_select {
    float: right;
    border: 1px solid #97dbf6;
    border-radius: 4px;
    width: 95px;
    height: 30px;
    background: url('../img/drop_down.png') 100% 50% no-repeat, #eaf1f3;
    background: url('../img/drop_down.png') 100% 50% no-repeat, -moz-linear-gradient(top, #eaf1f3 0%, #ffffff 100%);
    background: url('../img/drop_down.png') 100% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf1f3), color-stop(100%, #ffffff));
    background: url('../img/drop_down.png') 100% 50% no-repeat, -webkit-linear-gradient(top, #eaf1f3 0%, #ffffff 100%);
    background: url('../img/drop_down.png') 100% 50% no-repeat, -o-linear-gradient(top, #eaf1f3 0%, #ffffff 100%);
    background: url('../img/drop_down.png') 100% 50% no-repeat, -ms-linear-gradient(top, #eaf1f3 0%, #ffffff 100%);
    background: url('../img/drop_down.png') 100% 50% no-repeat, linear-gradient(to bottom, #eaf1f3 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf1f3', endColorstr='#ffffff', GradientType=0);
    margin-top: 10px;
    padding-left: 5px;
}

.custom_select select {
    height: 32px;
}
.custom_select select {
    color: #707070;
    height: 29px;
    width: 95px;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 25px;
    text-align: center;
    line-height: 25px;
    border: none;
}

select {
    cursor: pointer;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-right {
    float: right !important;
    margin-right: 10px;
}


.navbar-default{
    margin-bottom: 30px;
}
.navbar-default {
    border-radius: 4px;
    position: relative;
    background: rgba(244, 248, 250, 1);
    background: -moz-linear-gradient(top, rgba(244, 248, 250, 1) 0%, rgba(249, 251, 252, 1) 21%, rgba(255, 255, 255, 1) 50%, rgba(249, 251, 252, 1) 77%, rgba(244, 248, 250, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244, 248, 250, 1)), color-stop(21%, rgba(249, 251, 252, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(77%, rgba(249, 251, 252, 1)), color-stop(100%, rgba(244, 248, 250, 1)));
    background: -webkit-linear-gradient(top, rgba(244, 248, 250, 1) 0%, rgba(249, 251, 252, 1) 21%, rgba(255, 255, 255, 1) 50%, rgba(249, 251, 252, 1) 77%, rgba(244, 248, 250, 1) 100%);
    background: -o-linear-gradient(top, rgba(244, 248, 250, 1) 0%, rgba(249, 251, 252, 1) 21%, rgba(255, 255, 255, 1) 50%, rgba(249, 251, 252, 1) 77%, rgba(244, 248, 250, 1) 100%);
    background: -ms-linear-gradient(top, rgba(244, 248, 250, 1) 0%, rgba(249, 251, 252, 1) 21%, rgba(255, 255, 255, 1) 50%, rgba(249, 251, 252, 1) 77%, rgba(244, 248, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(244, 248, 250, 1) 0%, rgba(249, 251, 252, 1) 21%, rgba(255, 255, 255, 1) 50%, rgba(249, 251, 252, 1) 77%, rgba(244, 248, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f8fa', endColorstr='#f4f8fa', GradientType=0);
    z-index: 1;
}

.navbar-default {
    height: 50px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 12px 12px -5px rgba(124, 174, 194, 1);
    -moz-box-shadow: 0px 12px 12px -5px rgba(124, 174, 194, 1);
    box-shadow: 0px 12px 12px -5px rgba(124, 174, 194, 1);
    width: 103%;
}

.navbar-nav {
    display: table;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    z-index: 20;
}

.navbar-nav > li {
    display: table-cell;
    float: left;
}
.navbar-default .navbar-nav > li:first-child > a {
    border-radius: 4px 0 0 4px !important;
}
.navbar-default .navbar-nav > li:not(:last-child) a {
    border-right: 1px solid #1c7eb2;
    -webkit-box-shadow: inset -2px 0px 1px -1px rgba(75, 175, 211, 1);
    -moz-box-shadow: inset -2px 0px 1px -1px rgba(75, 175, 211, 1);
    box-shadow: inset -2px 0px 1px -1px rgba(75, 175, 211, 1);
}


.navbar-default .navbar-nav > li:last-child a {
    border-radius: 0 4px 4px 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
             background: #fff; /* Old browsers */
    box-shadow: none;
    color: #2b99c5;
    text-shadow: none;
}

.navbar-default .navbar-nav > .active > a {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
             background: #fff; /* Old browsers */
    box-shadow: none;
    color: #2b99c5;
    text-shadow: none;
}

.navbar-nav > li > a {
    display: block;
    line-height: 50px;
    padding: 0 14px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    z-index: 20;
    text-shadow: 1px 0px 1px rgba(9, 100, 164, 1);
    background: #2b99c5;
    background: -moz-linear-gradient(top, #2b99c5 0%, #37aad7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b99c5), color-stop(100%, #37aad7));
    background: -webkit-linear-gradient(top, #2b99c5 0%, #37aad7 100%);
    background: -o-linear-gradient(top, #2b99c5 0%, #37aad7 100%);
    background: -ms-linear-gradient(top, #2b99c5 0%, #37aad7 100%);
    background: linear-gradient(to bottom, #2b99c5 0%, #37aad7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b99c5', endColorstr='#37aad7', GradientType=0);
}

.menu_wrapper {
    display: table-row;
    position: absolute;
    height: 50px;
    float: left;
}

.shadow {
    position: absolute;
    z-index: -10;
    right: 24px;
    bottom: 2px;
    width: 12px;
    height: 88%;
    max-width: 200px;
    -webkit-box-shadow: 25px 0 4px rgba(66, 138, 167, 1);
    -moz-box-shadow: 25px 0 4px rgba(66, 138, 167, 1);
    box-shadow: 25px 0 4px rgba(66, 138, 167, 1);
    -webkit-transform: skew(173deg);
    -moz-transform: skew(173deg);
    -ms-transform: skew(173deg);
    -o-transform: skew(173deg);
    transform: skew(173deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

/*main*/

.main {
    transition: .5s;
}

.modal_dark {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    z-index: 1;
    top: 0;
    display: none;
}

/*sidebar*/


.sidebar ul {
    list-style: none;
    border-radius: 4px;
    margin-bottom: 15px;
}

.sidebar > ul {

}

.sidebar > ul > li {
    display: block;
    position: relative;
}

.sidebar > li > a {
    z-index: 10;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding-left: 15px;
    height: 33px;
    line-height: 33px;
    text-shadow: 1px 0px 1px #0964A4;
    background: url('../img/white_arrow.png') 5px 50% no-repeat, #2b99c5; /* Old browsers */
    background: url('../img/white_arrow.png') 5px 50% no-repeat, -moz-linear-gradient(top, #2b99c5 0%, #37aad7 100%); /* FF3.6+ */
    background: url('../img/white_arrow.png') 5px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b99c5), color-stop(100%, #37aad7)); /* Chrome,Safari4+ */
    background: url('../img/white_arrow.png') 5px 50% no-repeat, -webkit-linear-gradient(top, #2b99c5 0%, #37aad7 100%);
    background: url('../img/white_arrow.png') 5px 50% no-repeat, -o-linear-gradient(top, #2b99c5 0%, #37aad7 100%); /* Opera 11.10+ */
    background: url('../img/white_arrow.png') 5px 50% no-repeat, -ms-linear-gradient(top, #2b99c5 0%, #37aad7 100%); /* IE10+ */
    background: url('../img/white_arrow.png') 5px 50% no-repeat, linear-gradient(to bottom, #2b99c5 0%, #37aad7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b99c5', endColorstr='#37aad7', GradientType=0);
}

.sidebar .active > a {
    width: 274px;
    position: relative;
    text-decoration: none;
    background: url('../img/blue_arrow.png') 5px 50% no-repeat #fff !important; /* Old browsers */
    border-left: 1px solid #2b99c5;
    border-bottom: 1px solid #2b99c5;
    border-top: 1px solid #2b99c5;
    border-right: 1px solid #fff;
    color: #2b99c5;
    box-shadow: none;
    text-shadow: none;
    z-index: 100;
}

.sidebar > li:hover > a {
    text-decoration: none;
}

.sidebar > li:first-child:hover > a {
    border-radius: 4px 0 0 0 !important;
}

.sidebar > li:last-child:hover > a {
    border-radius: 0 0 0 4px !important;
}

.sidebar > li:hover ul {
    *display: block;
}

.sidebar > ul li:first-child a {
    border-radius: 4px 4px 0 0;
}

.sidebar > ul li:last-child a {
    border-radius: 0px 0px 4px 4px;;
}

.sidebar > ul li:not(last-child) a {
    border-bottom: 1px solid #1C7EB2;
    box-shadow: 0px -2px 1px -1px #4BAFD3 inset;
}

.sub_menu_wrapper {
    display: none;
    position: absolute;
    width: 820px;
    min-height: 200px;
    left: 269px;
    top: -45px;

    padding: 21px;
    z-index: 51;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    list-style: none;
}

.sub_menu_box {
    min-height: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #8ac7e0;
    overflow: hidden;
}

.sub_menu_wrapper a {
    border-bottom: none !important;;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.sub_menu_wrapper ul li {
    margin-bottom: 10px;
}

.sub_menu_wrapper ul {
    min-width: 240px;
    float: left;
    display: block;
    padding-left: 10px;
    margin-right: 20px;
    list-style: disc outside none;
}

.action li a {
    display: block;
    padding-left: 15px;
    height: 33px;
    color: #fff;
    text-transform: uppercase;
    line-height: 33px;
    text-shadow: 1px 0px 1px #0964A4;
    overflow: hidden;
    position: relative;
    border-radius: 4px !important;
    border: 1px solid #f7944b !important;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -moz-linear-gradient(top, rgba(247, 167, 30, 1) 0%, rgba(247, 146, 75, 1) 100%) !important;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 167, 30, 1)), color-stop(100%, rgba(247, 146, 75, 1))) !important;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -webkit-linear-gradient(top, rgba(247, 167, 30, 1) 0%, rgba(247, 146, 75, 1) 100%) !important;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -o-linear-gradient(top, rgba(247, 167, 30, 1) 0%, rgba(247, 146, 75, 1) 100%) !important;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -ms-linear-gradient(top, rgba(247, 167, 30, 1) 0%, rgba(247, 146, 75, 1) 100%) !important;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    linear-gradient(to bottom, rgba(247, 167, 30, 1) 0%, rgba(247, 146, 75, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7a71e', endColorstr='#f7924b', GradientType=0) !important;
    background: rgba(247, 167, 30, 1);
    -webkit-box-shadow: inset 1px 2px 1px -1px rgba(248, 181, 64, 1) !important;
    -moz-box-shadow: inset 1px 2px 1px -1px rgba(248, 181, 64, 1) !important;
    box-shadow: inset 1px 2px 1px -1px rgba(248, 181, 64, 1) !important;
}

.action li a:hover {
    background: #fff;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -moz-linear-gradient(top, rgba(247, 146, 75, 1) 0%, rgba(247, 167, 30, 1) 100%) !important;
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 146, 75, 1)), color-stop(100%, rgba(247, 167, 30, 1)));
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -webkit-linear-gradient(top, rgba(247, 146, 75, 1) 0%, rgba(247, 167, 30, 1) 100%);
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -o-linear-gradient(top, rgba(247, 146, 75, 1) 0%, rgba(247, 167, 30, 1) 100%);
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    -ms-linear-gradient(top, rgba(247, 146, 75, 1) 0%, rgba(247, 167, 30, 1) 100%);
    background: url('../img/white_arrow.png') 5px 50% no-repeat,
    linear-gradient(to bottom, rgba(247, 146, 75, 1) 0%, rgba(247, 167, 30, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7924b', endColorstr='#f7a71e', GradientType=0);
    text-decoration: none;
}

.action li a img {
    position: absolute;
    top: -2px;
    right: -1px;
    height: 37px;
    width: 47px;
}

.brand_selector {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

.brand_selector .custom_select {
    margin: auto;
    float: none;
    width: 99%;
}

.brand_selector select {
    text-align: left;
    width: 99%;
}

.subfooter {
    padding: 40px 0;
    height: 139px;

}

.filters_block {
    background-color: #fff;
}

.price_field {
    float: left !important;
    height: 29px !important;
    width: 80px !important;
    margin-right: 8px !important;
    padding: 0 5px !important;
    border: 1px solid #36a8d5 !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
    font: 13px/22px 'roboto-regular' !important;
    color: #5d5d5d !important;
    text-align: center !important;
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.15) !important;
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.15) !important;
    box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.15) !important;
    background: rgb(241, 241, 241) !important;
    background: -moz-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(241, 241, 241, 1)), color-stop(100%, rgba(255, 255, 255, 1))) !important;
    background: -webkit-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
    background: -o-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
    background: linear-gradient(to bottom, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0) !important;
}


.sidebar > ul li:last-child a {
    border-radius: 0px 0px 4px 4px;
}
.sidebar > ul li:first-child a {
    border-radius: 4px 4px 0 0;
}
.sidebar > ul li:not(last-child) a {
    border-bottom: 1px solid #1C7EB2;
    box-shadow: 0px -2px 1px -1px #4BAFD3 inset;
}
.toggle_sidebar a {
    display: block;
    padding-left: 15px;
    height: 33px;
    color: #fff;
    text-transform: uppercase;
    line-height: 33px;
    text-shadow: 1px 0 1px #0964a4;
    overflow: hidden;
    position: relative;
    border-radius: 4px!important;
    border: 1px solid #2a96c1!important;
    background: url(../img/white_arrow.png) 5px center no-repeat,url(../img/toggle_sidebar_menu.png) right center no-repeat,#37a9d6;
    background: url(../img/white_arrow.png) 5px center no-repeat,url(../img/toggle_sidebar_menu.png) right center no-repeat,-moz-linear-gradient(top,#37a9d6 0%,#2a96c1 100%);
    background: url(../img/white_arrow.png) 5px center no-repeat,url(../img/toggle_sidebar_menu.png) right center no-repeat,-webkit-gradient(linear,left top,left bottom,color-stop(0%,#37a9d6),color-stop(100%,#2a96c1));
    background: url(../img/white_arrow.png) 5px center no-repeat,url(../img/toggle_sidebar_menu.png) right center no-repeat,-webkit-linear-gradient(top,#37a9d6 0%,#2a96c1 100%);
    background: url(../img/white_arrow.png) 5px center no-repeat,url(../img/toggle_sidebar_menu.png) right center no-repeat,-o-linear-gradient(top,#37a9d6 0%,#2a96c1 100%);
    background: url(../img/white_arrow.png) 5px center no-repeat,url(../img/toggle_sidebar_menu.png) right center no-repeat,-ms-linear-gradient(top,#37a9d6 0%,#2a96c1 100%);
    background: url(../img/white_arrow.png) 5px center no-repeat,url(../img/toggle_sidebar_menu.png) right center no-repeat,linear-gradient(to bottom,#37a9d6 0%,#2a96c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37a9d6', endColorstr='#2a96c1',GradientType=0 );
    -webkit-box-shadow: inset 1px 2px 1px -1px #55b7dd!important;
    -moz-box-shadow: inset 1px 2px 1px -1px #55b7dd!important;
    box-shadow: inset 1px 2px 1px -1px #55b7dd!important;
}

.sidebar {
    margin-left: 0px;
}

.stext-bottom h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
}

.stext-bottom p {
    display: block;
    margin: 1em 0;
    text-align: justify;
}

.stext-bottom ul {
    display: block;
    list-style-position: outside;
    list-style-type: disc;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.stext-bottom li {
    display: list-item;
    list-style-image: url(../img/li_marker.gif);
}


.b-footer-seo {
    margin-top: 30px;
}

.main_block a {
    color:#000;
}

.full_width_background {
    width: 100%;
    background: url('../img/footer_bck.png') repeat-x;
    z-index: -10;
    position: relative;
}

.main_block {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.subfooter {
    padding: 40px 0;
    height: 139px;
}

.subfooter {
    height: 220px;
    z-index: 10;
}

.sitemap {
    float: left;
    height: 130px;
    width: 55%;
    margin-bottom: 10px;
}

.sitemap ul {
    height: 130px;
    overflow: hidden;
    float: left;
    padding-left: 10px;
    border-left: 1px solid #97dbf6;
    margin-right: 50px;
    list-style: none;
}

.sitemap ul li {
    margin-bottom: 7px;
}

.footer_contacts {
    float: right;
    border-radius: 4px;
    border: 1px solid #97dbf6;
    /* height: 100%; */
    width: 45%;
}

.top_contacts {
    padding: 15px;
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    border-bottom: 1px solid #97dbf6;
    position: relative;
}

.top_contacts img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -7px;
    margin: auto;
}

.top_contacts span {
    color: #0d8abc;
}

.footer_contacts strong {
    font-weight: normal !important;
}

.bottom_contacts {
    padding: 15px;
}

.bottom_contacts p {
    margin: 0 !important;
    font-size: 11px;
    line-height: 13px;
    color: #707070;
}

span.strong {
    font-weight: bold;
    background: none !important;
    padding: 0 !important;
}

.currency-faq .currency-faq-link {
    font-size: 12px;
}
.currency-faq * {
    color: #dd5e00;
}
.currency-faq-link {
    text-decoration: none;
    font-size: 24px;
    color: #2a98c4;
}

.subfooter .pap_club {
    display: none;
}

.main_block_footer {
    margin-bottom: 80px !important;
}
.main_block {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer {
    height: 60px;
}

.footer span {
    float: left;
}

.footer span a {
    color: #0d8abc;
}

.footer .social_links {
    float: right;
}

.social_links {
    float: left;
    margin-right: 15px;
}


.footer > a {
    float: right;
}

.main_block {
    padding-right: 45px;
    padding-left: 45px;
}



.im {
    padding-right: 0;
    padding-left: 0;
}











































@media only screen and (max-width: 1330px) {
    .phones {
        font-size: 15px;
    }    

.navbar-default {
    width: 100%;
}


}

@media only screen and (max-width: 1200px) {
    .middle,
    form.search input {
        width: 410px;
    }

    .contacts {
        width: 306px;
    }

    .phones {
        font-size: 12px;
    }
        .navbar-nav > li > a {
        font-size: 10px;
    }

}

@media only screen and (max-width: 1155px) {
    .sitemap {
    width: 35%;
    transition: .5s;
}
.footer_contacts {
    width: 65%;
    transition: .5s;
}

.main_block {
    padding-right: 0px;
    padding-left: 0px;
}
}

@media only screen and (max-width: 991px) {
    .basket_info {
    height: 50px;
    line-height: 50px;
    margin-right: 5px;
    padding-left: 35px;
    background: url('../img/basket.png') 0% 50% no-repeat;
    position: absolute;
    top: 51px;
    width: 203px;
    right: 0;
}

    .shadow {
        display: none;
    }
    .of {
        text-align: right;
        margin-top: -13px;
    }


    .logo {
        margin-top: 16px;
    } 
    .logo_img img {
        width: 115px;
    }

    .middle {
        width: 550px;
        height: 100%;
        float: left;
        margin-top: -17px;
    }

    .middle,
    form.search input {
        width: 350px;
    }

    .contacts {
        width: 359px;
        margin-top: -20px;
        margin-left: 18px;
    }

    .days, .days p {
        font-size: 10px;
        color: #707070;
    }

    .phones {
        font-size: 10px;
    }

    body .region-choose .city-button {
        margin-bottom: 5px;
    }
        .main {
        margin-top: 17px;
    }

}

@media only screen and (max-width: 850px) {
.sitemap ul {
    height: 100%;
    overflow: hidden;
    float: left;
    padding-left: 0;
    border-left: 0;
    margin-right: 0px;
    margin-left: 0;
    list-style: none;
    width: 50%;
    text-align: center;
}

.sitemap {
    width: 100%;
    transition: .5s;
    float: none;
}

.footer_contacts {
    width: 95%;
    float: none;
    margin: 0 auto;
    margin-top: 124px;
    background: #fff;
    position: relative;
    z-index: 999999999;
    display: block;

}

.footer {
    height: 60px;
       width: 95%;
    float: none;
    margin: 0 auto;
}

}


@media only screen and (max-width: 767px) {

.custom_select {
    margin-top: -17px;
}    
.navbar-right {
    float: none;
    margin-right: 10px;
    position: absolute;
    top: -44px;
}

.basket_info {
    height: 50px;
    line-height: 50px;
    margin-right: 0;
    padding-left: 35px;
    background: url('../img/basket.png') 0% 50% no-repeat;
    position: absolute;
    top: 0px;
    width: 203px;
    right: 0;
}

    .of {
    text-align: center;
    margin-top: -13px;
}
.navbar-default .navbar-toggle {
    margin-top: 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}    

.custom_select {
    position: relative;
    
}

    .navbar-collapse {
        overflow-x: hidden;
    }
    .of {
    padding-right: 13px;
}

.navbar-nav > li {
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 9999;
}

.navbar-nav {
    margin: 0;
    width: 100%;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}




.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-nav {
    margin: 60.5px 0px;
    position: relative;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 999999;
}    
.navbar-default {
    background: transparent;
    border: none;
    box-shadow: none;
}

    body {
        background-size: 6px;
    }
    .contacts {
        width: 233px;
        margin-top: 0;
        position: absolute;
        left: 20px;
        top: 158px;
    }

    .middle, form.search input {
        width: 100%;
    }

    .logo_img img {
        width: 100px;
    }

    a.logo_img {
        width: 190px;
        margin-top: 0;
        position: absolute;
        left: 20px;
        top: 52px;
    }

    form.search {
        position: relative;
        position: relative;
        overflow: hidden;
        border: 1px solid #97dbf6;
        border-radius: 4px;
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 19px;
    }

    .middle .top {
        width: 98px;
        height: 40px;
        line-height: 20px;
        margin-bottom: 14px;
        display: block;
        margin: 0 auto;
        float: right;
    }

    .social_links {
    margin-right: 0;
}

@media only screen and (max-width: 655px) {
.main_block_footer {
    display: none;
}
.footer_contacts {
    margin-top: 60px;
}
}

    @media only screen and (max-width: 320px) {

.sitemap ul {
    height: 100%;
    overflow: hidden;
    float: left;
    padding-left: 31px;
    margin-right: -31px;
    margin-left: 0;
    list-style: none;
    width: 50%;
    text-align: left;
}

    }







}







@media only screen and (max-width: 577px) {
    a.logo_img {
        top: 86px;
    }

    .contacts {
        top: 194px;
    }

    .logo {
        margin-top: 50px;
    }

    .site_panel_left_side, .site_panel_right_side {
        float: none;
        width: 180px;
        text-align: center;
        margin: 0 auto;
    }

    .site_panel_right_side {
        float: none;
        margin: 0 auto;
        width: 315px;
        display: block;
    }

    .right_side_top {
       display: block;
       width: 100%;
       margin: 0 auto;
       margin-top: 16px;
   }

   .site_panel_right_side span.accept {
       margin: 0;
   }

}

@media only screen and (max-width: 480px) {
.of {
    margin-left: 0;
}






}

@media only screen and (max-width: 350px) {

    .phones * {
    font-weight: bold;
    margin-left: -9px;
    font-size: 9px;
}

.days, .days p {
    margin-left: -9px;
    font-size: 9px;
}
	.site_panel_right_side {
       float: none;
       margin: 0 auto;
       width: 315px;
       display: block;
       margin-left: -36px;
   }
   .of {
    font-size: 10px;
}
}