/*font sources*/
@font-face {
  font-family: 'OpenSansHebrew-Regular';
  src: url("../../fonts/OpenSansHebrew-Regular.ttf"); }
@font-face {
  font-family: 'almoni-tzar-100';
  src: url("../../fonts/almoni-tzar-aaa-100.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/almoni-tzar-aaa-100.eot?#iefix") format("embedded-opentype"), url("../../fonts/almoni-tzar-aaa-100.woff") format("woff"), url("../../fonts/almoni-tzar-aaa-100.ttf") format("truetype"); }
@font-face {
  font-family: 'almoni-tzar-200';
  src: url("../../fonts/almoni-tzar-aaa-200.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/almoni-tzar-aaa-200.eot?#iefix") format("embedded-opentype"), url("../../fonts/almoni-tzar-aaa-200.woff") format("woff"), url("../../fonts/almoni-tzar-aaa-200.ttf") format("truetype"); }
@font-face {
  font-family: 'almoni-tzar-300';
  src: url("../../fonts/almoni-tzar-aaa-300.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/almoni-tzar-aaa-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/almoni-tzar-aaa-300.woff") format("woff"), url("../../fonts/almoni-tzar-aaa-300.ttf") format("truetype"); }
@font-face {
  font-family: 'almoni-tzar-400';
  src: url("../../fonts/almoni-tzar-aaa-400.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/almoni-tzar-aaa-400.eot?#iefix") format("embedded-opentype"), url("../../fonts/almoni-tzar-aaa-400.woff") format("woff"), url("../../fonts/almoni-tzar-aaa-400.ttf") format("truetype"); }
@font-face {
  font-family: 'almoni-tzar-700';
  src: url("../../fonts/almoni-tzar-aaa-700.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/almoni-tzar-aaa-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/almoni-tzar-aaa-700.woff") format("woff"), url("../../fonts/almoni-tzar-aaa-700.ttf") format("truetype"); }
/*general*/
body {
  font-family: almoni-tzar-300, sans-serif; }

a:hover {
  transition: .5s; }

a {
  transition: .5s; }

@media (min-width: 1200px) {
  .container {
    width: 1300px; } }
/*header*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #3b8ddf;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  font-size: 35px;
  color: #3b8ddf; }

.font-20 {
  font-size: 20px !important; }

.font-12 {
  font-size: 12px !important; }

.navbar-nav {
  float: right;
  margin: 30px 0 0; }

.navbar {
  margin-bottom: 0; }

.img_nav_before {
  float: right;
  margin-top: 37px;
  margin-right: 27px; }

.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 23px 15px 5px; }

.right_nav_img {
  float: left; }

.border_blue {
  border: 2px solid #3b8ddf; }

.nav > li > a.small_padding {
  padding: 5px 9px 3px 6px;
  margin-top: 3px;
  letter-spacing: 1.2px; }

.nav > li > a > img.right_nav_img {
  max-width: none;
  border-right: 2px solid #0093dd;
  margin-top: -4px;
  width: 29px;
  margin-left: -5px;
  margin-right: 7px; }

.lang {
  position: absolute;
  margin-top: -18px; }

.language {
  margin-top: -10px; }

.main_screen {
  height: 715px;
  width: 100%;
  background-image: url(../../img/slide.jpg); }

.article_1 .article_title {
  color: #1a5fa5;
  font-size: 67.04px;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 56px; }
.article_1 .article_description {
  text-align: center;
  font-size: 34.3px;
  color: #3d4042;
  line-height: 41px;
  margin-bottom: 60px;
  font-family: almoni-tzar-400; }
.article_1 .column p {
  font-size: 25px;
  color: #3d4042;
  font-weight: 600;
  line-height: 35px; }
.article_1 .column_title {
  font-size: 33.3px;
  color: #8dc503;
  font-weight: 600; }

footer {
  background-color: #06223f;
  padding: 20px 0; }
  footer .title {
    color: #8ac10a;
    font-size: 29.17px; }
  footer .divider {
    height: 2px;
    width: 109px;
    background-color: #fff;
    margin-bottom: 30px; }
  footer form input {
    display: block;
    padding: 1px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px; }
    footer form input[type="submit"] {
      color: #003d71;
      padding: 0 10px; }
  footer table tr td {
    height: 84px;
    width: 84px;
    background-color: #fff;
    border: 13px solid #06223f; }
    footer table tr td:first-child {
      border-right: none; }
    footer table tr td:nth-child(2) {
      border-left: none; }
  footer ul li {
    font-size: 25px;
    color: #fff;
    list-style: none; }
    footer ul li .img1 {
      background-image: url("../../sprite_4.png");
      background-position: -205px;
      width: 35px;
      height: 30px; }

@media only screen and (max-width: 1200px) {
  .left_button,
  .language,
  .img_nav_before {
    display: none !important; } }
@media only screen and (max-width: 769px) {
  .navbar-default .navbar-toggle {
    margin-top: 25px; } }

/*# sourceMappingURL=main.css.map */
